build
outputs/*.txt
.vscode
data/*.csv
data/parameters.ini
outputs/logs/
data/*.dat
doxygen
site/*
index.html
src/tclap/
.DS_Store
test/datapipeline/access-*.yaml
test/datapipeline/data/outputs
datapipeline
